/* BUZZ PANELS GLOBAL CSS v0.2 */

@import "compass";
@import "compass/css3";
@import "compass/utilities";







$background-color: #000000;
$dark-color : #2b3643;
$orange-color: #f6921e;


/* --------------------------------------- */
/* Splash Screen BYO */
/* --------------------------------------- */


.splScr-16-9 {

    width: 100%;
    background: #ddd;
    padding-bottom: 56.25%;
    margin-bottom: 10px;
    position:relative;
    overflow:hidden;
    

    .preview {
        top: 0px;
        left: 0px;
        position: absolute;
        transform-origin: top left;
        overflow: hidden;
    }

    .preloader {
        position:absolute;
        z-index: 999;
        height: 100%;
        width: 100%; 
        text-align: center;
        top:50%;
    }

}


.spl-scr-legend {
    margin-top: 10px;
    border:1px solid #e7ecf1;
    padding:20px 0px;
    background: white;
}

.draggable {
    cursor : move;
}
.clickable {
    cursor : pointer;
}

.inlinesmall {
    width:65px;
    display:inline-block;
}

.list-group-item {
    
    &.no-dashboard{
        background:#f5d4d4;

        .list-group-item-heading{

            strong {
                color:red;
            }
            
        }

    }

}


.upload-btn-class {
    background:#3598dc;
    color:white;
    @include border-radius(4px);
}

/* --------------------------------------- */
/* MEDIA QUERIES                           */
/* --------------------------------------- */


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width : 480px) {


}




